h1 {
	text-decoration: underline;
}
body {
	text-align: center;
	color: black;
	background-color: #3e3d40;
	color: white;
	margin: 0px;
}

footer {
	margin: 25px;
}

table {
	border: 3px solid rgb(255, 255, 255);
	border-collapse: collapse;
}

th {
	background-color: #69696b;
	color: white;
	padding: 10px;
}

tr {
	text-align: left;
	border-bottom: 1px solid white;
}

td {
	padding: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
	position: relative;
	width: 100%;
	min-width: 960px;
	min-height: 95px;
	background-color: #333;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #adadad;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #878787;
	color: rgb(94, 149, 231);
}

/* logo in top right */
.topnav img {
	position: absolute;
	top: 4px;
	bottom: 4px;
	right: 20px;
	width: 160px;
	height: 85%;
}

/* page content */
.contentContainer {
	position: relative;
	margin: auto;
}

/* button */
button {
	background-color: #69696b;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
}

/* button when hovered over */
button:hover {
	background-color: #909091; /* Green */
}

form {
	padding: 15px 60px;
}

input {
	color: black;
}


.legal {
	font-size: 5px;
}

#tracking-number {
	color: #000000;
}

#submit {
	color: #000000;
}

#username {
	color: #000000;
}

#password {
	color: #000000;
}

#results {
	position: relative;
	margin: auto;
}

/* entire review section */
.reviewSection article { 
	padding: 30px;
	background-color: #616161;
	background-image:url("../images/background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.reviewSection2 article { 
	padding: 30px;
	background-color: #616161;
	background-image:url("../images/background-2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.reviewSection3 article { 
	padding: 30px;
	background-color: #616161;
	background-image:url("../images/background-3.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.review img {
	display: inline;
}

.reviewElementText {
	vertical-align: middle;
	
}

.heading {
	font-size: 25px;
	margin-right: 25px;
}

.fa {
	font-size: 25px;
}

.checked {
	color: orange;
}

/* Three column layout */
.side {
	float: left;
	width: 15%;
	margin-top: 5px;
}

.middle {
	float: left;
	width: 70%;
	margin-top: 10px;
}

/* Place text to the right */
.right {
	text-align: center;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* The bar container */
.bar-container {
	width: 100%;
	background-color: #7b7b7b;
	text-align: center;
}

/* Individual bars */
.bar-5 {width: 60%; height: 10px; background-color: #04AA6D;}
.bar-4 {width: 10%; height: 10px; background-color: #2196F3;}
.bar-3 {width: 5%; height: 10px; background-color: #00bcd4;}
.bar-2 {width: 2%; height: 10px; background-color: #ff9800;}
.bar-1 {width: 23%; height: 10px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
	.side, .middle {
		width: 100%;
	}
	/* Hide the right column on small screens */
	.right {
		display: none;
	}
}

/* set font */
* {
	font-family: sans-serif;
	color: white;
	box-sizing: border-box;
}