<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
		<link rel="stylesheet" href="../static/css/master.css" />
		<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
	</head>

	<!-- nav bar -->
	<nav>
		<div class="topnav">
			<a class="active" href="#home"><b>HOME</b></a>
			<a href="about.html"><b>ABOUT</b></a>
			<a href="contact.html"><b>CONTACT</b></a>
			<img src="../static/images/logo2.png" alt="logo" />
		</div>
	</nav>

	<body>
		<!-- content -->
		<div class="contentContainer">
			<h2>Welcome to TrackRat, the premier package tracking service.</h2>
			

			<!-- reviews -->
			<article class="reviewSection">
				<p>TrackRat serves customers all over the world. Check out some reviews from our loyal customers... <small>(not trackrat employees)</small></p>
				<!-- raj's review -->
				<article>
					
					<div>
						<img
							src="../static/images/happy_warehouse_worker.png"
							width="20%"
							height="auto"
							alt="Raj"
						/>
					</div>
					<div>
						<img
							src="../static/images/stars.png"
							width="9%"
							height="auto"
							alt="5 stars"
							vertical-align= "middle"
							class="stars"
						/>
						<p class="reviewElementText"><b>"This package tracking service really tickled my fancy"</b> - <i>Raj</i></p>
					</div>
				</article>
				<hr style="border:0px solid #7b7b7b">
			</article>

			<article class="reviewSection2">
				<!-- steve's review -->
				<article>
					<div>
						<img
							src="../static/images/steve.png"
							width="20%"
							height="auto"
							alt="Raj"
						/>
					</div>
					<div>
						<img
							src="../static/images/stars.png"
							width="9%"
							height="auto"
							alt="5 stars"
							vertical-align= "middle"
							class="stars"
						/>
						<p class="reviewElementText"><b>"My wife's boyfriend uses TrackRat for all his packages"</b> - <i>Steve</i></p>
					</div>
				</article>
				<hr style="border:0px solid #7b7b7b">
			</article>

			<article class="reviewSection3">
				<!-- steve's review -->
				<article>
					<div>
						<img
							src="../static/images/bob.png"
							width="20%"
							height="auto"
							alt="Raj"
						/>
					</div>
					<div>
						<img
							src="../static/images/stars.png"
							width="9%"
							height="auto"
							alt="5 stars"
							vertical-align= "middle"
							class="stars"
						/>
						<p class="reviewElementText"><b>"I can't remember the last time I felt a real connection with someone"</b> - <i>Bob</i></p>
					</div>
				</article>
			</article>

			<p>TrackRat has a <b>4.96</b> star review score based on 19,432 reviews.</p>
				<div class="row">
					<div class="side">
						<div>5 star</div>
					</div>
					<div class="middle">
						<div class="bar-container">
							<div class="bar-5"></div>
						</div>
					</div>
					<div class="side right">
						<div>11,659</div>
					</div>
					<div class="side">
						<div>4 star</div>
					</div>
					<div class="middle">
						<div class="bar-container">
							<div class="bar-4"></div>
						</div>
					</div>
					<div class="side right">
						<div>1,943</div>
					</div>
					<div class="side">
						<div>3 star</div>
					</div>
					<div class="middle">
						<div class="bar-container">
							<div class="bar-3"></div>
						</div>
					</div>
					<div class="side right">
						<div>972</div>
					</div>
					<div class="side">
						<div>2 star</div>
					</div>
					<div class="middle">
						<div class="bar-container">
							<div class="bar-2"></div>
						</div>
					</div>
					<div class="side right">
						<div>5</div>
					</div>
					<div class="side">
						<div>1 star</div>
					</div>
					<div class="middle">
						<div class="bar-container">
							<div class="bar-1"></div>
						</div>
					</div>
					<div class="side right">
						<div>4,858</div>
					</div>
				</div>
			<br>
			<hr style="border:1px solid #7b7b7b">
			<!-- login -->
			<p>Please head to the login page in order to start tracking packages.</p>
			<button onclick="document.location='login.html'">Login</button>
			
		</div>
	</body>

	<footer>
		<!-- Legal Disclaimer -->
		<hr style="border:1px solid #7b7b7b">
		<p class="legal">Legal Disclaimer</p>
		<p class="legal">
			By using our website, you accept this disclaimer in full. If you disagree
			with any part of this disclaimer, do not use our website. We reserve the
			right to modify these terms at any time. You should therefore check back
			periodically for changes. By using this website after we post any changes,
			you agree to accept those changes, whether or not you have reviewed them.
			All information and content on this website is provided as is without
			warranty of any kind, either express or implied, including but not limited
			to, the implied warranties of merchantability, fitness for a particular
			purpose, or non-infringement. We do not warrant that our website will
			always be available, uninterrupted, timely, secure, error-free or free
			from computer virus or other invasive or damaging code or that it will not
			be affected by any acts of God or other force majeure events. We will not
			be liable for any damages of any kind arising from the use of this website
			including but not limited to direct, indirect, incidental punitive and
			consequential damages. By accessing this website, all data on your
			computer may be used for commerical and/or political purposes. We do not
			endorse any third-party websites linked to our website and we are not
			responsible for their content. This disclaimer shall be governed by and
			construed in accordance with Canadian law and any disputes relating to
			this disclaimer shall be subject to the exclusive jurisdiction of the
			courts of Canada. This website and all works there within belong to Tyler
			Renaud, Andrew Simon and Ethan Levine. The University of Windsor accepts a
			complete lack of control and intellectual rights to all works on this
			website.
		</p>
	</footer>
</html>
